body {
    background-color: #cccccc;
}

#index-body {
    /* Background Image */
    background-image: url("backdrop.jpeg");

    /* Full height */
    height: 100%;

    /* Center and Scale Image nicely */
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#index-body:hover {
    opacity: 1.0;
}