{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th class="table-start">Symbol</th>
                <th class="table-end">Shares</th>
                <th class="table-end">Price</th>
                <th class="table-end">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td class="table-start">{{ transaction["symbol"] }}</td>
                    <td class="table-end">{{ transaction["shares"] }}</td>
                    <td class="table-end">{{ transaction["price"] | usd }}</td>
                    <td class="table-end">{{ transaction["date"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}